Monika_datasets/script*
Monika_datasets/monika_big.txt
audacity_tracks
.vscode
audios
LJSpeech-1.1_ter
output*
recipes
wav_audios
server_bot.py
Emotion-detection
TTS
__pycache__
browser.py
communicate.py
log*
auth.json
bfg-1.14.0.jar
.git.bfg-report
.gitignore

