#For facial recognition
torch
opencv-python
torchvision
Pillow
tensorflow
#For text emotion recognition
transformers
#For TTS
pydub
#For character.ai 
asyncio
playwright
nest_asyncio
#For STT
pyaudio
SpeechRecognition
git+https://github.com/openai/whisper.git
