playwright
simpleaudio
TTS
IPython
tensorflow
numpy 
opencv-python
transformers
Pillow
SpeechRecognition
git+https://github.com/openai/whisper.git 
tk
asyncio
bitsandbytes
-e git+https://github.com/152334H/tortoise-tts-fast@ec2f1f06e7ccc2614f8386414660f05fc7bbe098#egg=tortoise
