#For facial recognition
torch
opencv-python
torchvision
Pillow
tensorflow
timm
#For text emotion recognition
transformers
#For TTS
pydub
TTS
#For character.ai 
asyncio
playwright
nest_asyncio
#For STT
pyaudio
SpeechRecognition
git+https://github.com/openai/whisper.git
#New TTS
# git+https://github.com/NVIDIA/NeMo.git
# omegaconf
# hydra-core
# pytorch-lightning
# sentencepiece
# youtokentome
# wget
#pynini==2.1.4 #on windows, download https://www.openfst.org/twiki/pub/GRM/PyniniDownload/pynini-2.1.5.tar.gz and install it manually (need Microsoft Visual C++ 14.0 https://aka.ms/vs/17/release/vs_BuildTools.exe)
# nemo_toolkit['all']
